body  {
  background-color: rgb(255, 255, 153);
}
table {
    background-color: rgb(149, 224, 20);
    width: 100%;

}
td{
    width: 30%;
    align-content: center;
}
h2{
    align-content: center;
}
